name: Pylint

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    container:
      image: python:3.10-slim
    steps:
    - uses: actions/checkout@v4
    - name: Cache pip dependencies
      uses: actions/cache@v3
      with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements*.txt') }}-3.10
          restore-keys: |
            ${{ runner.os }}-pip-3.10-
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
    - name: Analysing the code with pylint
      run: |
        pylint main.py transform.py

  test: 
    needs: lint
    timeout-minutes: 3
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
    container:
      image: python:${{ matrix.python-version }}-slim
    steps:
    - uses: actions/checkout@v4
    - name: Cache pip dependencies
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}-${{ matrix.python-version }}
        restore-keys: |
            ${{ runner.os }}-pip-${{ matrix.python-version }}-
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run the pytests
      run: |
        pytest test.py
    - name: Run coverage
      run: |
        coverage run -m pytest test.py
        coverage report -m 
        coverage html
    - name: Upload HTML coverage

    # Do upload the coverage report even if the tests fail
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: coverage-html-${{ matrix.python-version }}
        path: htmlcov